<h1>Welcome to my website!</h1>
<p>I am creating this website as part of the One Month Rails class. This website will be a photo-sharing site, where users can share images and ideas with each other.</p>
