<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
        </div>
    </div>    
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
                <h1>Welcome to my website!</h1>
                <p>This website will be a sharing site for photos and images. Create an account to start sharing some of your favorite things!</p>
                <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Photos</h2>
                <p>Share any of your own photographs with others.</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Images</h2>
                <p>Share creative color palettes or other images.</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Browse</h2>
                <p>Browse through other users' images and photos to see what you like</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
    <% end %> 